.infoTable {
  background: var(--grey-800);

  border-spacing: 0;
  margin-block-start: 1em;
  width: 100%;
  max-width: 600px;
}

.infoTable th {
  justify-content: center;
  align-items: center;
  color: var(--grey-800);
  background: var(--primary-400);
  font-size: 1.2rem;
  padding: 0.75em;
}

.infoTable td {
  font-size: small;
  padding-inline: 1em;
  padding-block: 0.5em;
}

.infoTable td a {
  display: block;
  width: 100%;
  padding: 0.75em;
  color: var(--primary-500);
  border-bottom: 1px dotted var(--grey-700);
}

.infoTable td a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: var(--primary-300);
  border-bottom: 1px dotted var(--primary-300);
}

.embedMap {
  border: 0;
  height: 450;
  width: 100%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.1);
}
