/* CONTACT COMPONENT */

.contactContent {
  margin-block-start: 1rem;
}

.imgContainer {
  display: grid;
  gap: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-block: 1rem;
}

.imgWrap {
  width: 100%;
  max-width: 300px;
}

.imgWrap img {
  border-radius: 10px;
}
.exampleList {
  list-style: none;
  padding-block: 1rem;
  line-height: 40px;
}

.exampleList li::before {
  content: '🙆🏻';
  font-size: x-large;
  font-weight: bold;
  color: var(--primary-400);
  display: inline-block;
  width: 1em;
  margin-inline-end: 1rem;
}

.exampleList::placeholder {
  color: var(--grey-500);
}

.form {
  display: flex;
  flex-direction: column;
}

.formChild {
  margin-block: 0.5rem;
}

.formInput {
  background: var(--black);
  font-size: 0.9rem;
  color: var(--grey-600);
  border: 1px solid var(--grey-700);
  border-radius: 10px;
  padding-block: 0.75em;
  padding-inline: 0.5rem;
}

.textArea {
  font-size: 1rem;
  color: var(--grey-050);
}

.formInput:hover {
  border: 1px var(--primary-400) dotted;
}

.contact-content form option:first {
  color: var(--grey-800);
}

.form-input:hover {
  border-color: var(--primary-500);
  border-style: dotted;
}

.exampleList option:first:focus {
  border-color: var(--grey-050);
  border-style: solid;
}

.formInfo {
  display: flex;
}
