.form {
  display: flex;
  flex-direction: column;
}

.formChild {
  margin-block: 0.5rem;
}

.formInput {
  background: var(--black);
  font-size: 0.9rem;
  color: var(--grey-600);
  border: 1px solid var(--grey-700);
  border-radius: 10px;
  padding-block: 0.75em;
  padding-inline: 0.5rem;
}

.formSelect {
  background: var(--black);
  font-size: 0.9rem;
  color: var(--grey-600);
  border: 1px solid var(--grey-700);
  border-radius: 10px;
  padding-block: 0.75em;
  padding-inline: 0.5rem;
}

.textArea {
  font-size: 1rem;
  color: var(--grey-050);
}

.formInput:hover {
  border: 1px var(--primary-400) dotted;
}

.contact-content form option:first {
  color: var(--grey-800);
}

.form-input:hover {
  border-color: var(--primary-500);
  border-style: dotted;
}

.exampleList option:first:focus {
  border-color: var(--grey-050);
  border-style: solid;
}

.formInfo {
  display: flex;
}
