footer {
  background-color: var(--grey-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

footer .copyright {
  color: var(--primary-400);
  font-weight: 100;
  font-size: small;
}

footer .sns-container {
  display: flex;
  list-style: none;
  margin-block-start: 1em;
}

.sns-container a {
  color: var(--primary-400);
}

.sns-container a:hover {
  color: var(--primary-500);
  border-bottom: 1px dotted var(--primary-400);
}

.sns-container li {
  margin-inline: 1rem;
}
