.header {
  background-color: var(--grey-900);
  padding-inline: 2rem;
  padding-block: 1rem;
  border-bottom: 1px solid var(--grey-800);
}

.brand {
  display: flex;
}

.brand h1 {
  color: var(--grey-300);
  text-transform: uppercase;
  margin-left: 1rem;
  font-weight: 800;
  font-size: x-large;
  letter-spacing: 1.5px;
}

.brand h1 .greenText {
  color: var(--primary-400);
  font-size: xx-large;
}

.brand h1:hover {
  color: var(--grey-100);
}

.navigation {
  padding-block-start: 1rem;
  display: flex;
  list-style: none;
  justify-content: center;
}

.navigation a {
  margin-inline: 1rem;
  color: var(--grey-300);
  padding-bottom: 0.25rem;
}

.nonActive {
  border-bottom: dotted 1px var(--grey-900);
}

.active {
  border-bottom: 1px solid #01eb00;
}

.navigation a:hover {
  border-bottom: dotted 1px var(--primary-400);
}
