.list {
  display: grid;
  list-style: none;
  gap: 1em;
}

.card {
  color: var(--grey-100);
  background: var(--grey-800);
  border: 1px inset var(--grey-700);
  border-radius: 10px;
}

.textContain {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  justify-items: flex-start;
  align-items: flex-end;
  padding: 1rem;
}

.cta {
  font-size: 2.5rem;
  padding-inline-end: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card a {
  color: var(--grey-100);
}
.card a:hover {
  color: var(--primary-400);
}

.card:hover {
  border: 1px dotted var(--primary-400);
}

.card time {
  font-weight: 600;
}
